<div class="wrapper">
    <div class="page-header" style="background-image: url('../../../assets/img/login-image.jpg');">
        
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                          <h3 class="title">Grupo 3</h3>
                          <div class="social-line text-center">
                              <a href="#login" class="btn btn-neutral btn-facebook btn-just-icon">
                                  <em class="fa fa-facebook-square"></em>
                              </a>
                              <a href="#login" class="btn btn-neutral btn-google btn-just-icon">
                                  <em class="fa fa-google-plus"></em>
                              </a>
                              <a href="#login" class="btn btn-neutral btn-twitter btn-just-icon">
                                  <em class="fa fa-twitter"></em>
                              </a>
                          </div>



                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                            <div id="username-container">
                                    <label>Username</label>
                                    <input matInput placeholder="Username"
                                    formControlName="email" class="form-control" 
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            </div>
                            <div id="password-container">
                                    <label>Password</label>
                                    <input matInput placeholder="Password" type="password"
                                        formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
                            </div>


                            <div id="username-error-msg" *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div id="blank-username-error" *ngIf="f.email.errors.required" style="color:red">Please enter email.</div>
                            </div>
                        
                            <div id="password-error-msg" *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div id="blank-password-error" *ngIf="f.password.errors.required" style="color:red">Please enter password.</div>
                            </div>
                        
                            <div id="login-btn-container" class="form-group">
                                <button class="btn btn-danger btn-block btn-round">Login</button>                            
                            </div>
                        </form>
                        <button class="btn btn-danger btn-block btn-round"  (click)="Registro()" id="btnregistro">Registro</button>
                          
                      </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                    <h6> <em class="fa fa-heart heart"></em> by Grupo 3 AYD1</h6>
                </div>
            </div>
    </div>
</div>
