<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/Catalogo">Home</a>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom"
                        href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <p class="d-lg-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom"
                        href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom"
                        href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>




<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <br>
    <br>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="row">
                    <div class="col-md-4">
                        <h6> Numero de Tarjeta</h6>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input [(ngModel)]="Num_Tarjeta"  type="password" class="form-control" placeholder="Numero Tarjeta"
                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                            >
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h6> Nombre de la Tarjeta</h6>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input [(ngModel)]="Nombre_Tarjeta" type="text" class="form-control" placeholder="Nombre de la tarjeta"
                            onkeypress='return (event.charCode >= 67 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) ||event.charCode == 32'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h6> Fecha Vencimiento</h6>
                    </div>
                    <div class="col-md-4">
                        <input [(ngModel)]="FechaVencimiento" type="text" class="form-control" placeholder="Fecha de Vencimiento MM/YY"
                        onkeypress='return (event.charCode >= 47 && event.charCode <= 57)'>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <h6> Codigo de Verificacion</h6>
                    </div>
                    <div class="col-md-4">
                        <input [(ngModel)]="CodigoVerficacion" type="text" class="form-control" placeholder="XXX"
                        onkeypress='return event.charCode >= 47 && event.charCode <= 57'
                        >
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <h6>Moneda</h6>
                    </div>
                    <div class="col-md-4">
                        <select [(ngModel)]="Moneda2" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect"
                        (change)="CapturarMoneda()">
                            <option selected>Moneda..</option>
                            <option value="1">Quetzal</option>
                            <option value="2">Dolar</option>
                          </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <h3>Total:</h3>
                        <h2>{{Total}}</h2>
                        <h3>Tarjeta</h3>
                        <h2>{{tarjeta}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                       
                    </div>
                    <div class="col-md-4">
                        <button (click)="Verificardor()"type="button" class="btn btn-outline-success btn-round">Pagar</button>
                        <button type="button" class="btn btn-outline-danger btn-round">Cancelar</button>
                        <button (click)="GetTotal()" type="button" class="btn btn-outline-danger btn-round">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
