<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
    <div class="container">
        <div class="container-fluid">
            <a  class="navbar-brand" routerLink="/Catalogo">BlockBusted</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/miperfil">Perfil Usuario</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/UsuarioAdmin">Perfil Admin</a>
                </li>
               
              </ul>
            </div>
          </div>
    </div>    
  </nav>


<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../../../assets/img/faces/joe-gardner-2.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto text-center">
                            <h4>Usuario:</h4>
                            <input aria-invalid="false" autocomplete="off" id="txtu" required="" type="text" aria-label="Name" class="MuiInputBase-input MuiInput-input" value="" [(ngModel)]="txtu">
                            <h4>Correo:</h4>
                            <input aria-invalid="false" autocomplete="off" id="txtc" required="" type="text" aria-label="Name" class="MuiInputBase-input MuiInput-input" value="" [(ngModel)]="txtc">
                            <h4>Contraseña:</h4>
                            <input aria-invalid="false" autocomplete="off" id="txtp" required="" type="password" aria-label="Name" class="MuiInputBase-input MuiInput-input" value="" [(ngModel)]="txtp">
                            <h4>Nombres:</h4>
                            <input aria-invalid="false" autocomplete="off" id="txtn" required="" type="text" aria-label="Name" class="MuiInputBase-input MuiInput-input" value="" [(ngModel)]="txtn">
                            <h4>Apellidos:</h4>
                            <input aria-invalid="false" autocomplete="off" id="txta" required="" type="text" aria-label="Name" class="MuiInputBase-input MuiInput-input" value="" [(ngModel)]="txta">
                            <h4>DPI:</h4>
                            <input aria-invalid="false" autocomplete="off" id="txtd" required="" type="text" aria-label="Name" class="MuiInputBase-input MuiInput-input" value="" [(ngModel)]="txtd">
                            <h4>Edad:</h4>
                            <input aria-invalid="false" autocomplete="off" id="txte" required="" type="text" aria-label="Name" class="MuiInputBase-input MuiInput-input" value="" [(ngModel)]="txte"> 
                            <br> 
                            <br> 
                            <button type="button"  class="btn btn-primary btn-round" (click)="guardar()">Guardar Cambios </button>                      
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-6 ml-auto mr-auto text-center">
                            <button type="button"  class="btn btn-primary btn-round" routerLink = "/InventarioPelicula">Inventario </button>
                            
                        </div>
                        
                        <div class="col-lg-6 ml-auto mr-auto text-center">
                            <button type="button" class="btn btn-info btn-round"  routerLink = "/MisTransacciones">Transacciones </button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
