<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
  <div class="container">
      <div class="container-fluid">
          <a  class="navbar-brand" routerLink="/Catalogo">BlockBusted</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/miperfil">Perfil Usuario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/UsuarioAdmin">Perfil Admin</a>
              </li>
             
            </ul>
          </div>
        </div>
  </div>    
</nav>

<div class="container p-4">
  <div class="col-md-4" *ngFor= "let Catalogo of catalogo">
    <div class="container p-4">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        {{Catalogo.name}}
        <button class="btn btn-danger">
          <i class="far fa-trans-alt"></i>
        </button>
      </div>
      <div class="card-body"></div>
      <img src="{{Catalogo.image}}" class="card-img-top">
      <p>Precio: {{Catalogo.Precio | currency: 'Q. ': 'symbol':'00.00'}}</p>
      <a  class="btn btn-info btn-block">
        Tranferir
      </a>
    </div>
  </div>
  </div>    
</div>
