
<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
  <div class="container">
      <div class="container-fluid">
          <a  class="navbar-brand" href="#">Catalogo Peliculas</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
  </div>    
</nav>
<br>
<br>
<div class="col-md-4 offset-md-4">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <input type="number" name="identificador" [(ngModel)] = "catalo.id_Movie" placeholder="identificador" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="nombre" [(ngModel)] = "catalo.name" placeholder="nombre pelicula" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="url" name="imagen" [(ngModel)] = "catalo.image" placeholder="Cartel de pelicula" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="number" name="Precio Pelicula" [(ngModel)] = "catalo.ChargeRate" placeholder="Precio Pelicula" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="Disponibilidad de pelicula" [(ngModel)] = "catalo.active" placeholder="Disponibilidad de pelicula" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="Plan de Pelicula" [(ngModel)] = "catalo.availabilities" placeholder="Plan de Pelicula" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="number" name="Lenguaje de Pelicula" [(ngModel)] = "catalo.languages" placeholder="Lenguaje de Pelicula" class="form-control" autofocus>
        </div>
        <button class="btn btn-success btn-block" (click) = "saveCatalogoNew()">
          Registrar
        </button>
      </form>
    </div>
  </div>
</div>